body{
    background-image: url(backgroundImage.jpg); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #c47638; 
    font-family: "Sour Gummy", sans-serif ;
    overflow:hidden;
     
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34vh;
}
#welcomeMsg h3{
    margin-top: 32.5vh;
    text-align: center;
    color: #021258;
}

#login{
    text-align:center;
    margin-top: 5vh;

}
#callToAction{
    text-align:center;

}
#loginButton,#signupButton{
    font-family: "Sour Gummy", sans-serif;
    font-weight:bold;
    border-radius: 20px;
    font-size: 1.2em;
    color:#1fb4c1;
    border-color:#1fb4c1 ;
    box-shadow: inset;
    background-color: #e8ebc5 !important;
    padding: 10px 2vw;
    
    
}
#loginButton:hover,#signupButton:hover{
    background-color:#1fb4c1 !important;
    color:#e8ebc5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#callToAction {
    margin-left:10%;
    margin: 40vh auto;
    width: 80%;
    margin-top:31vh ;
    line-height: 0.40em;
    font-weight: bold;
    
    color:#2f586a;

}

/* ---------loginpage css could not link with same ids/classes ----------*/

#text{
    font-family: "Sour Gummy", sans-serif;
    font-weight:bold;
    border-radius: 20px;
    font-size:1.1em;
    color:#1fb4c1;
    border-color:#1fb4c1 ;
    box-shadow: inset;
    background-color: #e8ebc5 !important;
    padding-top: 10px;
    padding-bottom:10px;
    
}
#loginForm legend,#textid {
    font-family: "Sour Gummy", sans-serif;
    font-size:1.3em;
    font-weight:bold;
    color: #021258;
    padding-bottom:2%;


}

#login form, #loginForm fieldset{
    margin-top: 32.5vh;
    text-align: center;
    color: #021258;
    border:none;
}
#login a{
    color:#3a7577;
}


